[include mainsail.cfg]
[include shell_command.cfg]
[include macro.cfg]
[include test_speed.cfg]
[include fysetc_s6.cfg]
# [include btt_lis2dw.cfg]
[virtual_sdcard]
path: /home/arseniy/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
#   Printer 
#####################################################################

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 10000
max_z_velocity: 16
max_z_accel: 1000
minimum_cruise_ratio: 0

#####################################################################
#   Main board (fysetc_s6)
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_4D001B000D51323434343839-if00

#####################################################################
#   Board Temperatures
#####################################################################

[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#   X Stepper Settings
#####################################################################

[tmc2209 stepper_x]
uart_pin: uart_x
interpolate: True
run_current: 0.7
# driver_SGTHRS: 77
# stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle                                                
                                                                    # this is set to 60 which is the MAX sensitivity for sensorless homing, you will need to tune this later

[autotune_tmc stepper_x]
motor: creality-42-34
# # sg4_thrs: 77

[stepper_x]
step_pin: step_x
dir_pin: dir_x
enable_pin: !enable_x
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200                                       # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 stepper motors
endstop_pin: ^x_min

##--------------------------------------------------------------------
homing_speed: 80   #Max 100
homing_retract_dist: 0
position_min: -0.5
position_max: 250.5
position_endstop: 0


#####################################################################
#   Y Stepper Settings
#####################################################################

[tmc2209 stepper_y]
uart_pin: uart_y
interpolate: True
run_current: 1.0                                                      # This may need tuning depending upon the motors you are using
# driver_SGTHRS: 80
# stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[autotune_tmc stepper_y]
motor: creality-42-40
# # sg4_thrs: 80

[stepper_y]
step_pin: step_y
dir_pin: dir_y
enable_pin: !enable_y
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200                                        # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 degree stepper motors
endstop_pin: ^y_min

##--------------------------------------------------------------------
homing_speed: 80   #Max 100
position_min: -0.5
homing_retract_dist: 0
position_endstop: 240
position_max: 240.5

#####################################################################
#   Z Stepper Settings
#####################################################################

[tmc2209 stepper_z]
uart_pin: uart_z
interpolate: True
run_current: 0.7                                                     # This may need tuning depending upon the motors you are using
stealthchop_threshold: 0                                             # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[autotune_tmc stepper_z]
motor: creality-42-34

[stepper_z]
step_pin: step_z
dir_pin: dir_z
enable_pin: !enable_z
microsteps: 16
rotation_distance: 4
endstop_pin: ^z_min

##--------------------------------------------------------------------
#position_endstop = 0
position_max: 300
position_min: -3.0
homing_speed: 15
second_homing_speed: 3.0
homing_retract_dist: 3.0

#####################################################################
#   Extruder
#####################################################################

[tmc2209 extruder]
uart_pin: uart_e0
run_current: 0.7
interpolate: True
stealthchop_threshold: 0

[autotune_tmc extruder]
motor: BJ42D09-20V02

[extruder]
step_pin: step_e0
dir_pin: dir_e0
enable_pin: !enable_e0
microsteps: 16
rotation_distance: 7.747
max_extrude_only_distance: 250.0
max_extrude_cross_section: 999999
nozzle_diameter: 0.400
filament_diameter: 1.750

##--------------------------------------------------------------------
heater_pin: HE0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: TE0
min_temp: 0
max_temp: 300
min_extrude_temp: 170

[tmc2209 extruder1]
uart_pin: uart_e1

[extruder1]
step_pin: step_e1
dir_pin: dir_e1
enable_pin: !enable_e1
# heater_pin: HE1
# sensor_pin: TE1

[tmc2209 extruder2]
uart_pin: uart_e2

[extruder2]
step_pin: step_e2
dir_pin: dir_e2
enable_pin: !enable_e2
# heater_pin: HE2
# sensor_pin: TE2

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: HB
sensor_type: EPCOS 100K B57560G104F 
sensor_pin: TB
smooth_time: 3.0
max_power: 1                                                      # Only needed for 100w pads
min_temp: 0
max_temp: 130                                                        

#####################################################################
# Fan Control
#####################################################################

[heater_fan heatbrake_fan]
pin: fan0
max_power: 1.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0                                                    # You can't PWM the delta fan unless using blue wire
shutdown_speed: 0.0

[fan]
pin: fan1
max_power: 1.0
kick_start_time: 0.5                                                 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.05
cycle_time: 0.010

[controller_fan MCU_fan]
pin: fan2
max_power: 1.0
kick_start_time: 0.5
heater: extruder, heater_bed
stepper: stepper_x, stepper_y, stepper_z
#fan_speed: 1.0 

#####################################################################
#   Features
#####################################################################

[pause_resume]
[exclude_object]
[skew_correction]
[gcode_arcs]
[force_move]
enable_force_move: True
[idle_timeout]
timeout: 900

[input_shaper]
shaper_type_x = ei
shaper_freq_x = 54.4
shaper_type_y = ei
shaper_freq_y = 55.4

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[safe_z_home]
home_xy_position: 250, 240

# [homing_override]
# gcode:
#   _SENSORLESS_HOME_X
#   _SENSORLESS_HOME_y
#   G28 z0
  
#   G91
#   G1 Z1

[bed_screws]
screw1: 32, 18
screw1_name: back right
screw2: 32, 189
screw2_name: front right
screw3: 202, 189
screw3_name: front left
screw4: 202, 18
screw4_name: back left

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.833
#*# pid_ki = 1.784
#*# pid_kd = 108.549
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.075
#*# pid_ki = 2.234
#*# pid_kd = 630.626
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.0021193948549353575
#*# xz_skew = 0.0007069682539918071
#*# yz_skew = 0.001417586880430915
#*#
#*# [stepper_z]
#*# position_endstop = 0.225
